@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: Nudely;
	src: url('../fonts/nudely.otf');
}

* {
	/*outline: 1px dotted red;*/
	box-sizing: border-box;
}

.hidden {
	display: none;
}

body {
	background-color: silver;
	font-family: "Lato", sans-serif; 
}

header {
	font-family: "Nudely", sans-serif; 
	background-color: white;
	box-shadow: 0px 10px 20px grey;
	/*border-bottom:  2px solid black;*/
}

header h1 {
	margin: 0;
	text-align: center;
	font-size: 6rem;
	text-shadow: 0.2rem 0.2rem 0.2rem silver;

	color: black;
   	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

header h1 .blue_fill_text {
   	-webkit-text-fill-color: rgb(74, 197, 255); /* Will override color (regardless of order) */
}
header h1 .orange_fill_text {
   	-webkit-text-fill-color: orange; /* Will override color (regardless of order) */
}

#game_board {
	border-collapse: collapse;
	margin: 5rem auto;
}

#game_board tr {
	border-top: 1rem solid black;
	border-bottom: 1rem solid black;
}
#game_board tr:first-child {
	border-top: 0;
}
#game_board tr:last-child {
	border-bottom: 0;
}

#game_board td {
	position: relative;
	width: 7rem;
	height: 7rem;
	border-left: 1rem solid black;
	border-right: 1rem solid black;
}
#game_board td:first-child {
	border-left: 0;
}
#game_board td:last-child {
	border-right: 0;
}

/*Rounded corners*/
#game_board tr:first-child td:first-child, 
#game_board tr:first-child td:first-child .highlight {
	border-top-left-radius: 20%;
}
#game_board tr:first-child td:last-child, 
#game_board tr:first-child td:last-child .highlight {
	border-top-right-radius: 20%;

}
#game_board tr:last-child td:first-child, 
#game_board tr:last-child td:first-child .highlight {
	border-bottom-left-radius: 20%;
}
#game_board tr:last-child td:last-child, 
#game_board tr:last-child td:last-child .highlight {
	border-bottom-right-radius: 20%;

}


#game_board td .highlight {
	opacity: 0.0;
	-webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,1);
}
#game_board td:hover .highlight {
	opacity: 0.6;
}


.blue {
	background-color: rgb(74, 197, 255);
	-webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.orange {
	background-color: orange;
	-webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

#winner_msg {
	text-align: center;
}