@import url(https://fonts.googleapis.com/css?family=Lato);

@font-face {
	font-family: Nudely;
	src: url('../fonts/Nudely.otf');
}

* {
	/*outline: 1px dotted red;*/
	box-sizing: border-box;
}


body {
	background-color: silver;
	font-family: "Lato", sans-serif; 
}

header {
	font-family: "Nudely", sans-serif; 
	background-color: white;
	box-shadow: 0px 10px 20px grey;
}

header h1 {
	margin: 0;
	text-align: center;
	font-size: 6rem;
	text-shadow: 0.2rem 0.2rem 0.2rem silver;

	color: black;
   	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
}

header h1 .blue_fill_text {
   	-webkit-text-fill-color: rgb(74, 197, 255); /* Will override color (regardless of order) */
}
header h1 .orange_fill_text {
   	-webkit-text-fill-color: orange; /* Will override color (regardless of order) */
}

.rounded_corners {
	border-radius: 20%;
}

section {
	width: 75%;
	max-width: 50rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#instructions {
	margin-top: 5rem;
}

#name_textbox {
	margin-top: 1rem;
	width: 20rem;
}

input[type="text"], input[type="number"] {
	font-size: 2rem;
	text-align: center;
}

input[type="text"] {
	border-top-left-radius: 6% 40%;
	border-top-right-radius: 6% 40%;
	border-bottom-left-radius: 6% 40%;
	border-bottom-right-radius: 6% 40%;
}

button {
	background-color: white;
	padding: 1rem;

	font-family: "Nudely";
	font-size: 3rem;
	color: black;
   	-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: black;
   	-webkit-text-fill-color: rgb(74, 197, 255);
}

button:active {
	-webkit-text-fill-color: orange;
}

button:focus, input:focus {
	outline: 0;
}

#name_button {
	margin-top: 2rem;
}

#gamefull_section img {
	border-radius: 50%
}

#config_msg {
	white-space: pre-wrap;
}

#waiting_image {
	margin-top: 4rem;
	width: 170px;
	height: 170px;
	background-image: url('../images/waiting_sprite.png');
	background-position: 0 0;
	background-repeat: no-repeat;

	-webkit-animation-name: spin; 
	-webkit-animation-duration: 1s; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-timing-function: steps(18);

	animation-name: spin; 
	animation-duration: 1s; 
	animation-iteration-count: infinite; 
	animation-timing-function: steps(18);
}

@-webkit-keyframes spin {
	0%{	background-position: 0 0;}
	100%{	background-position: 0 -3060px;}
}
@keyframes spin {
	0%{	background-position: 0 0;}
	100%{	background-position: 0 -3060px;}
}


#game_board {
	border-collapse: collapse;
	margin: 5rem auto;
}

#game_board tr {
	border-top: 1rem solid black;
	border-bottom: 1rem solid black;
}
#game_board tr:first-child {
	border-top: 0;
}
#game_board tr:last-child {
	border-bottom: 0;
}

#game_board td {
	position: relative;
	width: 7rem;
	height: 7rem;
	border-left: 1rem solid black;
	border-right: 1rem solid black;
}
#game_board td:first-child {
	border-left: 0;
}
#game_board td:last-child {
	border-right: 0;
}

/*Rounded corners*/
#game_board tr:first-child td:first-child, 
#game_board tr:first-child td:first-child .highlight {
	border-top-left-radius: 20%;
}
#game_board tr:first-child td:last-child, 
#game_board tr:first-child td:last-child .highlight {
	border-top-right-radius: 20%;

}
#game_board tr:last-child td:first-child, 
#game_board tr:last-child td:first-child .highlight {
	border-bottom-left-radius: 20%;
}
#game_board tr:last-child td:last-child, 
#game_board tr:last-child td:last-child .highlight {
	border-bottom-right-radius: 20%;

}


#game_board td .highlight {
	opacity: 0.0;
	-webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,1);
}
#game_board td:hover .highlight {
	opacity: 0.6;
}


.blue {
	background-color: rgb(74, 197, 255);
	-webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.orange {
	background-color: orange;
	-webkit-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

#status_msg {
	text-align: center;
}